.App {
  height: 100vh;
  overflow: scroll;
}

.app-content {
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
}

.cards-container {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 50px 30px;
}

.pagination {
  margin: 50px;
}

.MuiPagination-ul {
  justify-content: center;
}
